extends layout

block content
  
  div(id="covernews" class="cover news")
    div(id="good-news-container" class="good-news-container")
      div(id="good-news-msg" class="good-news-text")
  div(id="coverbadwheather" class="cover")
    div(id="bigsun" class="bigsun-container")
      <object class="bigsun" data="/images/big_sun.svg" type="image/svg+xml">
      </object>
    div(id="headline" class='headline-container')
      div(class="headline") LOOKING FOR THE SUN?
    div(id="sunny-man" class="sunny-man-container")
      <object class="sunny-man" data="/images/sunny_man.svg" type="image/svg+xml">
      </object>