extends layout

block content
  div(class="cover")
    div(class="bigsun-container")
      <object class="bigsun" data="/images/big_sun.svg" type="image/svg+xml">
      </object>
    div(class='headline-container')
      div(class="headline") LOOKING FOR THE SUN?
    div(class="sunny-man-container")
      <object class="sunny-man" data="/images/sunny_man.svg" type="image/svg+xml">
      </object>