body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 50px;
  font: 14px sans-serif;
}

.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  transition: all .7s ease;
}
.cover.news {
  background-color: #f9e900;
  color: #ef6b59;
  fill: #ef6b59;
}
.cover.bad {
  background-color: #f9bfc7;
  color: #ef6b59;
  fill: #ef6b59;
}
.cover.good {
  background-color: #46bdc7;
  color: #f9e900;
}
.headline-container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  transition: all .7s ease;
}
.headline {
  font-weight: 900;
  font-size: 80pt;
}
.bigsun-container {
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: -320px;
  transition: all .7s ease;
}
.bigsun {
  animation:spin 15s linear infinite;
}
.sun-small {
  animation:spin2 5s linear infinite;
}
@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg);
  }
}
@keyframes spin2 { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg);
  }
}
.sunny-man-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  text-align: center;
  margin: auto;
  transform: translateY(10px);
  transition: all .7s ease;
}
.sunny-man {
  width: 333px;
}

.good-news-container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  
  transform: translateY(0);
  transition: all .7s ease;;
  opacity: 0;
  /* width: 100%; */
}
.good-news-text {
  padding: 100px;
  font-weight: 700;
  font-size: 50pt;
  transition: all .7s ease;
}

.text-invers {
  color: #f9e900;
  background-color: #ef6b59;
  transition: all .7s ease;
}

.fade-in-up {
  transform: translateY(0);
  opacity: 1;
}
.good-news-container.fade-in-up {
  transform: translateY(-50%);
}
.fade-out-up {
  opacity: 0;
  transform: translateY(-100px);
}
.good-news-container.fade-out-up {
  transform: translateY(-80%);
}
.fade-out-down {
  opacity: 0;
  transform: translateY(100px); 
}
.fade-out {
  opacity: 0;
}
.sun-small {
  width: 60pt;
}

.hide {
  display: none;
}
.credit {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
  font-size: 30pt;
  letter-spacing: 1px;
}
.inline-svg {
  height: 30pt;
  transform: translateX(0) translateY(8px);
}